*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.proyects-container {
  overflow-y: scroll;
  /* scrollbar-gutter: stable; */
}
.showProjectsBtn{
  background-color: transparent;
  color: white;
  border: none;
}
.div-project-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.div-project-title p{
  font-size: 20px;
}
.div-project-title i{
  font-size: 25px;
  padding-right: 15px;
}
.div-project-title i:hover{
  color: #166beb;
}
.redu-h{
  height: 65px;
  overflow: hidden;
}
.normal-h{
  max-height: 600px;
  z-index: 2;
  overflow-y: auto;
}
.title{
  text-align: left;
  width: 100%;
  padding: 10px;
}
.header{
  display: flex;
  padding: 20px;
  justify-content:flex-start;
  align-items: flex-start;
  width: 100%;
  height: 60px;
}
.header-title{
  height: 120px;
  width: 150px;
}
.header-title img{
  height: 100%;
  width: 100%;
}
#colorChangerMenu{
  position: absolute;
  background-color: #252525;
  height: 250px;
  width: 250px;
  top:35%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 10px;
}
/* Color a cambiar */
#colorToChangeInput {
  -webkit-appearance: none;
  appearance: none;
  width: 45px;
  height: 45px;
  border: 4px solid rgb(74, 127, 226);
  border-radius: 10px;
  background: none;
  cursor: pointer;
  transition: transform 0.2s, border-color 0.3s;
}

#colorToChangeInput:hover {
  border-color: #fff;
}

/* Webkit */
#colorToChangeInput::-webkit-color-swatch-wrapper {
  padding: 0;
  border-radius: 10px;
}
#colorToChangeInput::-webkit-color-swatch {
  border: none;
  border-radius: 0 px;
}

/* Firefox */
#colorToChangeInput::-moz-color-swatch {
  border: none;
  border-radius: 0px;
}


/* Nuevo color */
#newColorInput {
  -webkit-appearance: none;
  appearance: none;
  width: 45px;
  height: 45px;
  border: 4px solid rgb(74, 127, 226);
  border-radius: 10px;
  background: none;
  cursor: pointer;
  transition: transform 0.2s, border-color 0.3s;
}

#newColorInput:hover {
  border-color: #fff
}

/* Webkit */
#newColorInput::-webkit-color-swatch-wrapper {
  padding: 0;
  border-radius: 10px;
}
#newColorInput::-webkit-color-swatch {
  border: none;
  border-radius: 0px;
}

/* Firefox */
#newColorInput::-moz-color-swatch {
  border: none;
  border-radius: 0px;
}
#colorToChangeInput::-webkit-color-swatch,
#newColorInput::-webkit-color-swatch {
  border-radius: 0;
  width: 100%;
  height: 100%;
}
.cancel-button-div{
  position: absolute;
  top: 4%;
  right: 4%;
}
.cancel-button-div i{
  font-size: 20px;
}
.cancel-button-div i:hover{
  color: #347fe0;
}
.general-replace-div{
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.replace-div{
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
}
.button-replace-div button{
background-color: white;
border: none;
height: 40px;
width: 65px;
padding: 5px;
text-align: center;
border-radius: 10px;
margin-bottom: 10px;
}
.button-replace-div button:hover{
background-color: #347fe0;
color: white;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
  background: #f4f4f4;
  background: #252525;
  color: white;
}
#saveProjectBtn{
  height: 40px;
  background-color: transparent;
  border: none;
  color: white;
}
#projectNameInput{
  padding: 10px;
  height: 30px;
}
#projectNameInput:focus{
  border: 2px solid #337eee;
}
#board {
  width: 600px;
  height: 600px;
  display: grid;
  /* border: 4px solid #4e4e4e; */
  margin-top: 20px;
  cursor: crosshair;
  position: relative;
}
.title-save{
  position: absolute;
  top: -70%;
  font-size: 12px;
  width: 250px;
  
}
.size{
  font-size: 40px;
 
}
.floppy{
  font-size: 40px;
  cursor: pointer;
}
.resaltar:hover{
  color: #337eee;
}
.pixel {
  /* border: 0.2px solid #ddd; */
  background-color: white;
  transition: background-color 0.2s;
}
.main-container{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 750px;
  height: 750px;
  margin-top: 0px;
  padding: 20px;
}
.border{
  /* border: 1px solid #fafafa; */
  box-shadow: 0 0 0 0.5px black;
}
.no-border{
  border: none;
  box-shadow: 0 0 0 0px black;
}
#tools{
  left: -16%;
  top: 11%;
  position: absolute;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap-reverse;
  width: 160px;
  gap: 20px;
  /* border: 2px solid white; */
  padding: 20px;
  justify-content: flex-start;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(255, 255, 255, 0.1);
  background-color: #181818;
  max-height: 625px;

}
.tool {
  background-color: #ffffff;
  border: 4px solid #fcfcfc;
  cursor: pointer;
  transition: 0.2s;
  border-radius: 10px;
  padding: 5px;
  font-size: 25px;
  width: 45px;
}
.tool.active {
  background-color: #337eee;
  color: white;
  
}
.tool, .no-tool-button{
  height: 45px;
}
#brushSize {
  width: 50px;
  vertical-align: middle;
  margin-left: 8px;
  
}
.input-save-div{
  position: relative;
}
.message-error{
  position: absolute;
  top: 120%;
  font-size: 14px;
  color: red;
  display: none;
}
.visible{
  display:block;
  animation: 0.3s error ease;
  animation-iteration-count: 3
}
@keyframes error {
  0%   { transform: rotate(0deg); }
  25%  { transform: rotate(0.5deg); }
  50%  { transform: rotate(-0.5deg); }
  75%  { transform: rotate(0.5deg); }
  100% { transform: rotate(0deg); }
}
.top-panel{
  position: absolute;
  top: -5%;
  left: 10%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
  width: 600px;
  /* border: 2px solid white; */
  padding: 30px 30px;
  box-shadow: 0 4px 20px rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  background-color: #181818;
}

.save-div{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: auto;
  margin-right: 0px;
  background-color: #181818;
}
.save-div, #saveProjectBtn{
transform: translateY(-5%);
}
#brushSizeValue {
  font-weight: bold;
  margin-left: 6px;
}

#brushSize {
  -webkit-appearance: none;
  appearance: none;
  width: 150px;
  height: 6px;
  background: #444;        
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  transition: background 0.3s;
}

#brushSize:hover {
  background: #666;         
}


#brushSize::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #75acff;     
  border: 2px solid white;
  transition: 0.2s;
}

#brushSize::-webkit-slider-thumb:hover {
  background: #4a90e2;
}

/* Firefox */
#brushSize::-moz-range-thumb {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #75acff;
  border: 2px solid white;
  transition: 0.2s;
}
#brushSize::-moz-range-thumb:hover {
  background: #4a90e2;
}


#colorPicker {
  -webkit-appearance: none;
  appearance: none;
  width: 45px;
  height: 45px;
  border: 4px solid white;
  border-radius: 10px;
  background: none;
  cursor: pointer;
  transition: transform 0.2s, border-color 0.3s;
  
}

#colorPicker:hover {
  
  border-color: #4a90e2;
}


#colorPicker::-webkit-color-swatch-wrapper {
  padding: 0;
  border-radius: 10px;
}

#colorPicker::-webkit-color-swatch {
  border: none;
  border-radius: 8px;
}

/* Firefox */
#colorPicker::-moz-color-swatch {
  border: none;
  border-radius: 8px;
}
.changer-title h2{
  font-size: 20px;
  margin-top: 35px;
}

.main{
  display: flex;
  flex-direction: row;
  margin: 0px;
  padding: 0;

}
.hoverEffect:hover{
  background-color: #337eee;
  color: white;
}
.name-project-config{
  background-color: #ffffff;
  height: auto;
  width: 350px;
  display: none;flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 10px;
  position: absolute;
  z-index: 2;
  border: 2px solid grey;
  padding: 20px;
  
}
.form-div{
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2px;
}
.form-div small{
  color: red;
  display: block;
}
.name-project-config input{
  width: 100%;
  max-width: 250px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: 3px solid #337eee;
  border-radius: 4px;
}
.name-project-config input::placeholder{
  font-size: 14px;
}
.name-project-config label{
  max-width: 250px; 
  color: black;
  font-size: 1rem;
}
.name-project-config button{
  border: none;
  height: 40px;
  width: 80px;
  border-radius: 10px;
  background-color: #4a90e2;
  color: white;
}



#projectNameInput {
  padding: 10px;
  height: 30px;
  border: 4px solid #ccc;    
  border-radius: 5px;
  outline: none;              
  transition: border-color 0.3s, box-shadow 0.3s;
}

#projectNameInput:focus {
  border:4px solid #166beb;     
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.5); 
  box-sizing: border-box;
}

.hidden{
  
  opacity: 0;
  pointer-events: none; /* evita clics mientras está oculto */
  transition: opacity 0.3s ;
}
.toshow{
  
  opacity: 1;
  pointer-events:all; 
  transition: opacity 0.4s;
}

.no-tool-button{
  background-color: #ffffff;
  border: 4px solid #fcfcfc;
  cursor: pointer;
  transition: 0.2s;
  border-radius: 10px;
  padding: 5px;
  font-size: 25px;
  width: 45px;
}

.no-tool-button:hover{
  background-color: #337eee;
  color: white;
}




.my-scroll-box {
  scrollbar-gutter: stable;

}


.my-scroll-box::-webkit-scrollbar {
  width: 10px;             
  background-color: transparent;   
  border-radius: 10px;
  height: 80%;
}


.my-scroll-box::-webkit-scrollbar-thumb {
  background-color:#248aff;  
  border-radius: 10px;
  box-shadow:
    inset 0 40px 0 #181818,
    inset 0 -40px 0 #181818; 
}


.my-scroll-box::-webkit-scrollbar-thumb:hover {
  background-color: #248aff;
}

.color-palete{
  width: 309px;
  height: auto;
  background-color: #0a0a0a;
  border-radius: 10px;
  display: grid;
 grid-template-columns: repeat(5, 40px); /* ancho exacto de cada celda */
  grid-template-rows: repeat(2, 40px);  
  justify-content:space-evenly;
  align-items: center;
  gap: 10px;
  padding: 20px;
  /* padding-top:20px ; */
}

.div-palete{
  border: 4px solid white;
  height: 40px;
  width: 40px;
  border-radius: 8px;
  cursor: pointer;
}
.div-palete:hover{
  border: 4px solid #166beb;
}
.rigth-panel{
display: flex;flex-direction: column;gap: 20px;
justify-content: flex-start;align-items: center;
margin-top: 6.5%;padding: 10px;transform: translateX(-17%);
/* box-shadow: 0 4px 20px rgba(255, 255, 255, 0.1); */
width: 350px;position: relative;
height: 600px;
}

.projects-list{
  display: flex;flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  overflow-y: auto;
  position: absolute;
  max-height: 500px;
  width: 310px;
  background-color: #181818;
  top: 50px;
  z-index: 3;
  right: 50%;
  transform: translateX(50%);
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
}
.project-span{
  width: 80px;
}
.proyects-container{
display: flex;flex-direction: column;
justify-content: center;align-items: center;
margin-top: 8%;padding: 10px;
/* box-shadow: 0 4px 20px rgba(255, 255, 255, 0.1); */
}

.show-projects{
  width: 310px;

padding: 20px;
border-radius: 10px;
background-color: #181818;
/* box-shadow: 0 2px 10px rgba(255, 255, 255, 0.1); */
margin: 0 auto;
height: 60px;


z-index: 2;
position: relative;
}
.rigth-panel h2{
  margin-bottom: 40px;
}
.project-item{
  display: flex;
  flex-direction: row;
  gap:15px;
  margin-left: 5px;
  align-items: center;
}
.project-item i{
  font-size: 25px;
}

