*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#hero-day{
  background-image: url('dia.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80px;
  width: 150px;
  border-radius: 20px;
  position: relative;
  padding: 10px;
  border: 4px solid white;
}
#hero-day #clock{
  color: white;
  position: absolute;
  background-color: rgb(241, 241, 241);
  padding: 5px;
  font-size: 18px;
  border-radius: 20px;

}
#hero-day-message{
  position: absolute;
  top: 110%;
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
  font-family: 'Comfortaa', cursive;
  font-size: 12px;
  width: 290px;
  left: -65%;
}
.proyects-container {
  overflow-y: scroll;
  /* scrollbar-gutter: stable; */
  
}
.showProjectsBtn{
  background-color: transparent;
  color: white;
  border: none;
}
.div-project-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  background-color: #252525;
}
.div-project-title p{
  font-size: 20px;
}
.div-project-title i{
  font-size: 25px;
  padding-right: 15px;
}
.div-project-title i:hover{
  color: #166beb;
}
.redu-h{
  height: 65px;
  overflow: hidden;
}
.normal-h{
  max-height: 600px;
  z-index: 2;
  overflow-y: auto;
}
.title{
  text-align: left;
  width: 100%;
  padding: 10px;
}
.header{
  display: flex;
  padding: 20px;
  justify-content:space-between;
  align-items: flex-start;
  width: 100%;
  height: 60px;
}
.header-title{
  height: 80px;
  width: 100px;
}
.header-title img{
  height: 100%;
  width: 100%;
}
#colorChangerMenu{
  position: absolute;
  background-color: #181818;
  height: 250px;
  width: 250px;
  top:250px;
  left: 250px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(255, 255, 255, 0.1);
}
/* Color a cambiar */
#colorToChangeInput {
  -webkit-appearance: none;
  appearance: none;
  width: 45px;
  height: 45px;
  border: 4px solid rgb(74, 127, 226);
  border-radius: 10px;
  background: none;
  cursor: pointer;
  transition: transform 0.2s, border-color 0.3s;
}

#colorToChangeInput:hover {
  border-color: #fff;
}

/* Webkit */
#colorToChangeInput::-webkit-color-swatch-wrapper {
  padding: 0;
  border-radius: 10px;
}
#colorToChangeInput::-webkit-color-swatch {
  border: none;
  border-radius: 0 px;
}

/* Firefox */
#colorToChangeInput::-moz-color-swatch {
  border: none;
  border-radius: 0px;
}


/* Nuevo color */
#newColorInput {
  -webkit-appearance: none;
  appearance: none;
  width: 45px;
  height: 45px;
  border: 4px solid rgb(74, 127, 226);
  border-radius: 10px;
  background: none;
  cursor: pointer;
  transition: transform 0.2s, border-color 0.3s;
}

#newColorInput:hover {
  border-color: #fff
}

/* Webkit */
#newColorInput::-webkit-color-swatch-wrapper {
  padding: 0;
  border-radius: 10px;
}
#newColorInput::-webkit-color-swatch {
  border: none;
  border-radius: 0px;
}

/* Firefox */
#newColorInput::-moz-color-swatch {
  border: none;
  border-radius: 0px;
}
#colorToChangeInput::-webkit-color-swatch,
#newColorInput::-webkit-color-swatch {
  border-radius: 0;
  width: 100%;
  height: 100%;
}
.cancel-button-div{
  position: absolute;
  top: 4%;
  right: 4%;
}
.cancel-button-div i{
  font-size: 20px;
}
.cancel-button-div i:hover{
  color: #347fe0;
}
.general-replace-div{
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.replace-div{
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
}
.button-replace-div button{
background-color: white;
border: none;
height: 40px;
width: 65px;
padding: 5px;
text-align: center;
border-radius: 10px;
margin-bottom: 10px;
}
.button-replace-div button:hover{
background-color: #347fe0;
color: white;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
  background: #f4f4f4;
  background: #0f0f0f;
  color: white;
  overflow-x: hidden;
  justify-content: flex-start;
  /* width: 1600px; */
}
#saveProjectBtn{
  height: 40px;
  background-color: transparent;
  border: none;
  color: white;
}
#saveProjectBtn:hover{
  transform: translateY(-20%);
}

#board {
  width: 600px;
  height: 600px;
  display: grid;
  margin-top: 0px;
  position: relative;
  background-image: url('nobg.jpg');
  background-color: rgba(0, 0, 0, 0.5); /* negro semitransparente */
  background-blend-mode: multiply;      /* mezcla el color con la imagen */
  background-size: cover;
  background-position: center;
  background-repeat: repeat; 
  background-size: 50% 50%; 
  background-position: center center;
  transform-origin: center center;
  transition: transform 0.1s ease-out;
  /* visibility: hidden; */
}
.tip{
   /* position: absolute; */
   bottom: 3%;
   color: white;
   font-size: 12px;
   width: 640px;
   left:7%;
}
.tip i{
  font-size: 20px;
}
/* #board::before {
  content: '';
  position: absolute;
  inset: 0;
  background-image: url("imagex.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.3;
  pointer-events: none;
  z-index: 2;
} */
 #board-container {
  width: 600px;
  height: 600px;
  overflow: hidden;
  /* border: 2px solid #333; */
  position: relative;
  background-color: #1e1e1e;
  /* margin-top: 40px; */
  box-shadow: 0 4px 20px rgba(255, 255, 255, 0.1);
}
/* #board-relative{
  width: 600px;
  height: 600px;
  margin-top: 40px;
  position: absolute;
  background-image: url("modelo.webp");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.5;
  opacity: 0;
  pointer-events: none;
  z-index: 2;
  background-size: 100%;
  
} */
.pickerhover:hover{
  background-color: #337eee;
  color: white;
}
.title-save{
  position: absolute;
  top: -197%;
  font-size: 13px;
  width: 250px;
  z-index: 3;
  left: -315px;
}
.title-project{
  position: absolute;
  top: -40%;
  font-size: 12px;
  width: 260px;
  left: 0%;
}
.title-project i{
  font-size: 12px;
}
.size{
  font-size: 40px;
 
}
.resaltar{
  font-size: 40px;
  cursor: pointer;
}
.resaltar:hover{
  color: #337eee;
  /* transform: translateY(-122222%); */
}
.resaltar2:hover{
background-color: #337eee;
color: white;
}
.pixel {
  /* border: 0.2px solid #ddd; */
  background-color: white;
  /* transition: background-color 0.2s; */
}
.main-container{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 1600px;
  height: 600px;
  margin-top: 40px;
  /* padding: 20px; */
  gap: 30px;
  /* overflow: hidden; */
}
.border{
  /* border: 1px solid #fafafa; */
  box-shadow: 0 0 0 0.5px black;
}
.no-border{
  border: none;
  box-shadow: 0 0 0 0px black;
}
#tools{
  /* left: -27%; */
  /* top: 11%; */
  /* position: absolute; */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap-reverse;
  width: 240px;
  gap: 20px;
  /* border: 2px solid white; */
  padding: 20px;
  /* justify-content: flex-start; */
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(255, 255, 255, 0.1);
   background-color: #e9e9e9;
  background-color: #252525;

  max-height: 500px;
}
.eyedropper{
  cursor: url("eyedropper.png") 0 38, auto;

}
.crosshair{
  cursor: crosshair;
}
.tool {
  background-color: #ffffff;
  border: 4px solid #fcfcfc;
  cursor: pointer;
  transition: 0.2s;
  border-radius: 10px;
  padding: 5px;
  font-size: 25px;
  width: 45px;
}
.tool.active {
  background-color: #337eee;
  color: white;
  
}
.tool, .no-tool-button{
  height: 45px;
}
#brushSize {
  width: 50px;
  vertical-align: middle;
  margin-left: 8px;
  
}
.input-save-div{
  position: relative;
  background-color: #252525;
}
.message-error{
  position: absolute;
  top: 120%;
  font-size: 14px;
  color: red;
  display: none;
  width: 240px;
}
.message-succefuly{
  position: absolute;
  top: 120%;
  font-size: 14px;
  color: greenyellow;
  display: none;
  width: 240px;
}
.visible{
  display:block;
  animation: 0.3s error ease;
  animation-iteration-count: 3
}
@keyframes error {
  0%   { transform: rotate(0deg); }
  25%  { transform: rotate(0.5deg); }
  50%  { transform: rotate(-0.5deg); }
  75%  { transform: rotate(0.5deg); }
  100% { transform: rotate(0deg); }
}
.top-panel{
  position: relative;
  /* top: -5%; */
  /* left: 10%; */
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
  width: 600px;
  /* border: 2px solid white; */
  padding: 14px 14px;
  box-shadow: 0 4px 20px rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  background-color: #252525;
  overflow: hidden;
  margin-right: 80px;
}
#animation-div-top{
background-image: url("animation.png");
position: absolute;
top: -5%;
left: 0%;
width: 600px; height: 105px;
opacity: 0;
pointer-events: none;
z-index: 999;
}
@keyframes festTop {
  0% {
    opacity: 1;
    transform: translateY(-10px);
  }
  
  100% {
    opacity: 0;
    transform: translateY(90px) ;
  }
}
#animation-div-top.actuarTop{
  animation: festTop 3.5s cubic-bezier(0.22, 1, 0.36, 1) forwards;
}
.save-div{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: auto;
  margin-right: 0px;
  background-color: #181818;
  background-color: #252525;
}
.save-div, #saveProjectBtn{
transform: translateY(-5%);
}
#brushSizeValue {
  font-weight: bold;
  margin-left: 6px;
}

#brushSize {
  -webkit-appearance: none;
  appearance: none;
  width: 150px;
  height: 6px;
  background: #444;        
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  transition: background 0.3s;
}

#brushSize:hover {
  background: #666;         
}


#brushSize::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #75acff;     
  border: 2px solid white;
  transition: 0.2s;
}

#brushSize::-webkit-slider-thumb:hover {
  background: #4a90e2;
}

/* Firefox */
#brushSize::-moz-range-thumb {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #75acff;
  border: 2px solid white;
  transition: 0.2s;
}
#brushSize::-moz-range-thumb:hover {
  background: #4a90e2;
}


#colorPicker {
  -webkit-appearance: none;
  appearance: none;
  width: 45px;
  height: 45px;
  border: 4px solid white;
  border-radius: 10px;
  background: none;
  cursor: pointer;
  transition: transform 0.2s, border-color 0.3s;
  
}

#colorPicker:hover {
  
  border-color: #4a90e2;
}


#colorPicker::-webkit-color-swatch-wrapper {
  padding: 0;
  border-radius: 10px;
}

#colorPicker::-webkit-color-swatch {
  border: none;
  border-radius: 8px;
}

/* Firefox */
#colorPicker::-moz-color-swatch {
  border: none;
  border-radius: 8px;
}
.changer-title h2{
  font-size: 20px;
  margin-top: 35px;
}

.main{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0px;
  padding: 0;
  /* margin-top: 80px; */
  align-items: flex-start;
  /* overflow: hidden; */
}

.hoverEffect:hover{
  background-color: #337eee;color: white;
}
.name-project-config{
  background-color: #ffffff;
  height: auto;width: 350px;
  display: none;flex-direction: column;
  justify-content: center;align-items: center;gap: 20px;
  position: absolute;z-index: 2;
  border-radius: 10px;border: 2px solid grey;padding: 20px;
}
.form-div{
  display: flex;flex-direction: column;justify-content: center; gap: 2px;
}
.form-div small{
  color: red;display: block;
}
.name-project-config input{
  width: 100%;max-width: 250px;
  padding: 0.5rem 1rem;font-size: 1rem;border: 3px solid #337eee;border-radius: 4px;
}
.name-project-config input::placeholder{
  font-size: 14px;
}
.name-project-config label{
  max-width: 250px; color: black;font-size: 1rem;
}
.name-project-config button{
  border: none;border-radius: 10px;height: 40px;width: 80px;
  background-color: #4a90e2;color: white;
}

#projectNameInput {
  padding: 10px;height: 30px;
  border: 4px solid #ccc;border-radius: 5px;outline: none;              
  transition: border-color 0.3s, box-shadow 0.3s;
}

#projectNameInput:focus {
  border:4px solid #166beb;     
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.5); 
  box-sizing: border-box;
}

.hidden{
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ;
}
.toshow{
  opacity: 1;
  pointer-events:all; 
  transition: opacity 0.4s;
}

.no-tool-button{
  background-color: #ffffff;
  border: 4px solid #fcfcfc;border-radius: 10px;
  cursor: pointer;transition: 0.2s;
  padding: 5px;font-size: 25px;width: 45px;
}

.no-tool-button:hover{
  background-color: #337eee;color: white;
}




.my-scroll-box {
  scrollbar-gutter: stable;
}


.my-scroll-box::-webkit-scrollbar {
  width: 10px;             
  background-color: transparent;   
  border-radius: 10px;
  height: 80%;
}


.my-scroll-box::-webkit-scrollbar-thumb {
  background-color:#248aff;  border-radius: 5px;
}


.my-scroll-box::-webkit-scrollbar-thumb:hover {
  /* background-color: #248aff; */
}

.color-palete{
  width: 309px;height: auto;
  background-color: #0a0a0a;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(5, 40px);grid-template-rows: repeat(2, 40px);  
  justify-content:space-evenly;align-items: center;gap: 10px;
  padding: 20px;padding-top:20px ;
  background-color: #252525;
}
.palette-div{
  background-color: #0a0a0a;
  display: flex;flex-direction: column;justify-content: flex-start;
  height: 180px;border-radius: 10px;
  box-shadow: 0 4px 20px rgba(255, 255, 255, 0.1);
  background-color: #252525;
}
.palette-div p{
  text-align: center;margin-top: 20px;
}
.div-palete{
  border: 4px solid white;border-radius: 8px;
  height: 40px;width: 40px;
  cursor: pointer;
  
}
.div-palete:hover{
  border: 4px solid #166beb;
}
.rigth-panel{
  display: flex;flex-direction: column;gap: 20px;
  justify-content: flex-start;align-items: self-end;padding: 0px 10px;width: 350px;height: 740px;
 
}

.projects-list{
  display: flex;flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  overflow-y: auto;
  position: absolute;
  max-height: 500px;
  width: 310px;
  background-color: #181818;
  top: 50px;
  z-index: 3;
  right: 50%;
  transform: translateX(50%);
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
  background-color: #252525;
}
.project-span{
  width: 80px;
}
.proyects-container{
display: flex;flex-direction: column;
justify-content: center;align-items: center;
margin-top: 8%;padding: 10px;
/* box-shadow: 0 4px 20px rgba(255, 255, 255, 0.1); */

}

.show-projects{
  width: 310px;
  padding: 20px;
  border-radius: 10px;
  background-color: #181818;
  /* box-shadow: 0 2px 10px rgba(255, 255, 255, 0.1); */
  /* margin: 0 auto; */
  height: 70px;
  box-shadow: 0 4px 20px rgba(255, 255, 255, 0.1);
  z-index: 2;
  position: relative;
  background-color: #252525;
}
.rigth-panel h2{
  margin-bottom: 40px;
}
.project-item{
  display: flex;
  flex-direction: row;
  gap:15px;
  margin-left: 5px;
  align-items: center;
}
.project-item i{
  font-size: 25px;
}
@keyframes fest {
   0% {
    opacity: 1;
    transform: translateY(-30px);
  }
  
  100% {
    opacity: 0;
    transform: translateY(120px) ;
  }
}

#animation-div.actuar {
  animation: fest 3.5s cubic-bezier(0.22, 1, 0.36, 1);
}
#animation-div{
background-image: url("animation.png");
position: absolute;
top: 0;
left: 0;
width: 310px;  height: 180px;
opacity: 0;
pointer-events: none;
}
.download-board-div{
  display: flex;flex-direction: column;gap: 20px;
  justify-content: center;align-items: center;
  padding: 20px;background-color: #0a0a0a;
  width: 310px;  height: 230px;border-radius: 10px;
  box-shadow: 0 4px 20px rgba(255, 255, 255, 0.1);
  position: relative;
  overflow: hidden;
  background-color: #252525;
}
#download-form{
  display: flex;flex-direction: column;gap: 20px;
  justify-content: center;align-items: center;
  position: relative;
}
.lock{
  position: absolute;
  top: 2.5%;
  color: black;
  right:1.5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lock button{
  border: none;
  background-color: #ffffff;
  height: 26.8px;
  width: 30.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-right-radius: 5px;
border-top-right-radius: 5px;
/* border-right: 2px solid #686868;
border-left: 5px solid #6a6a6a; */
}
.lock button .locki{
  padding: 5px;
  /* padding-right: 7px; */
  font-size: 18px;
  
}
.lock button .unlocki{
   padding: 5px;
  /* padding-right: 7px; */
  font-size: 18px;
}
.lock button:hover{
  background-color: #337eee;
  color: white;
}
.lockvisible{
  display: block;
}
.lockhidden{
  display: none;
}
#button-download-board{
   background-color: #ffffff;
  color: black;
border: none;
height: 40px;
width: 85px;
padding: 5px;
text-align: center;
border-radius: 10px;
margin-bottom: 10px;
font-size: 15px;
border: 4px solid #337eee;
}
#button-download-board:hover{
 
  background-color: #337eee;
  color: white;
  transform: translateY(-12%);
}
#download-form input{
height: 35px;
padding: 10px;
border-radius: 8px;
width: 230px;
border: 4px solid #666;
}
#download-form input:focus{
  border: 4px solid #337eee;
   outline: none;
   box-shadow: 0 0 15px rgba(255, 255, 255, 0.5); 
  box-sizing: border-box;
}
#file-type, #image-size{
  height: 35px;
/* padding: 10px; */
width: 110px;
text-align: center;
border-radius: 8px;
border: 4px solid #337eee;
/* appearance: none; */
padding: 5px;
}
#file-type, #image-size:focus{
  /* appearance: none; */
  outline: none;
}
#SizeandTypeDiv{
  display: flex;gap: 10px;
  justify-content: space-between;
}
#topixeldiv{
  display: flex;flex-direction: column;gap: 20px;
  justify-content: center;align-items: center;
   background-color: #0a0a0a;
  width: 310px;  height: 130px;border-radius: 10px;
box-shadow: 0 4px 20px rgba(255, 255, 255, 0.1);
position: relative;
background-color: #252525;
}

.upload-label {
  display: inline-block;
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.2s;
}

.upload-label:hover {
  background-color: #0056b3;
}

.upload-label i {
  margin-right: 6px;
}
#animatedLoadImgLeft, #animatedLoadImgRight{
background-image: url("gira.png");
position: absolute;
width: 30px; height: 30px;
opacity: 0;
pointer-events: none;
z-index: 999;
 background-position: center;      /* Centra la imagen horizontal y verticalmente */
  background-repeat: no-repeat;     /* Evita que la imagen se repita */
  background-size: contain;        
/* background-color: #0056b3; */
}

@keyframes rotateRightFadeOut {
  0% {
    opacity: 1;
    transform: rotate(0deg);
  }
  80% {
    opacity: 1;
    transform: rotate(720deg); /* 2 vueltas completas */
  }
  100% {
    opacity: 0;
    transform: rotate(720deg);
  }
}

@keyframes rotateLeftFadeOut {
  0% {
    opacity: 1;
    transform: rotate(0deg);
  }
  80% {
    opacity: 1;
    transform: rotate(-720deg);
  }
  100% {
    opacity: 0;
    transform: rotate(-720deg);
  }
}

.objetoDerecha {
  animation: rotateRightFadeOut 2.5s ease forwards;
  top: 55%;
  right: 8%;
  
}

.objetoIzquierda {
  animation: rotateLeftFadeOut 2.5s ease forwards;
  top: 55%;
  left: 8%;
}


.tip{
  /* position: absolute; */
  bottom: 3%;
  color: white;
  font-size: 12px;
  width: 640px;
  /* left:7%; */
  margin-right: 90px;
  margin-top: 10px;
}
.tip i{
  font-size: 20px;
}

/* #compositionCanvas {
  cursor: grab;
  background: rgba(255, 255, 255, 0.0);
  position: absolute;
  transform: scale(0.43);
  top: -67%;
  left: -68%;
}
.composition-controls button {
  margin-right: 5px;
  padding: 5px 10px;
} */


/* #compositionControls {
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 20;
 
} */

.black{
  color: #0a0a0a;
}

.greeting{
  position: absolute;
  right:60px;
  top: 150px;
}